@font-face {
  font-family: 'Kollektif';
  src: url('font/Kollektif.ttf');
}
* {
	box-sizing: border-box;
}
html, body {
	width:100%;
	height:100%;
}
body {
	font-family: 'Roboto', Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
}
a  {
    text-decoration: none;
    color: black;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: underline;
}
.bigger {
	font-size: 1.1em;
	font-weight: bold;
}
.centredTitle {
	text-align: center;
}
.bannerImage {
	height: 80%;
	background-image: url("img/mainPencils.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: bottom;
	/* padding: 5%; */

}
.row {
	width: 100%;
	display: flex;
}
.col-full {
	width:100%;
	display: inline-block;
	flex: 1;
	/* padding: 5px; */
}
.col-3Quarters {
	width:75%;
	display: inline-block;
	/* flex: 1; */
	padding: 5px;
}
.col-half {
	width:50%;
	display: inline-block;
	/* flex: 1; */
	/* padding: 5px; */
	box-sizing: border-box;
}
.col-third {
	width:33%;
	display: inline-block;
	/* flex: 1; */
	padding: 5px;
}
.col-2third {
	width:65%;
	display: inline-block;
	flex: 1;
	padding: 5px;
}
.col-quarter {
	width:25%;
	display: inline-block;
	/* flex: 1; */
	/* padding: 5px; */
	/* box-sizing: border-box; */
	/* text-align: center; */
}
footer {
	/* padding-bottom: 0px;
	margin-bottom: 0px; */
	color: grey;
	font-size: 0.8em;
}
footer a:visited {
	color: grey;
}
.logo1 {
	font-size: 1.9em;
}
.logo2 {
	font-size: 1.2em;
	font-family: Kollektif;
}
h3 {
	font-size: 1.12em;
}

@media only screen and (max-width: 1024px) {
    .aboutSmall {
    	width: 99%;
    	height: auto;
    }
    .bannerImage {
		width: 100%;
		height: 25%;
	}
    .aboutBig {
    	display: none;
    }

	.aboutSmall h3:hover {
	    text-decoration: underline;
	}
	p {
		font-size: 1.5vh;
	}
	p.small {
		font-size: 1.2vh;
	}

}
@media only screen and (min-width: 1025px) {
	.aboutSmall {
	    display: none;
	}
	.aboutBig h3 {
    	font-weight: bold;
	}
	.bannerImage {
		padding: 5%;
	}

}
ul {
	list-style: none;
	text-align: center;
	padding-inline-start: 0;
}
ul li {
	display: inline;
}
.social{
	padding-top: 2vh;
	font-size: 1.5em;
	text-align: center;
	margin-right: 2vw;
	margin-left: 2vw;
}
.mainText {
	background-color: white;
	padding: 1%;
}
p {
	font-size: 1.5vh;
}
p.small {
	font-size: 1.2vh;
}