@font-face {
  font-family: 'Kollektif';
  src: url('font/Kollektif.ttf');
}
body {
	font-family: Kollektif,'Raleway', sans-serif;
	/*height: 100%;*/
	width: 100vw;
}
a {
    text-decoration: none;
}
#bannerImage {
	height: 60%;
	background-image: url("img/pencils.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: center;
}
.row {
	width: 100%;
	display: flex;
}
.col-full {
	width:100%;
	display: inline-block;
	flex: 1;
	padding: 5px;
}
.col-half {
	width:50%;
	display: inline-block;
	flex: 1;
	padding: 5px;
}
.col-third {
	width:30%;
	display: inline-block;
	flex: 1;
	padding: 5px;
}
.col-quarter {
	width:22%;
	display: inline-block;
	flex: 1;
	padding: 5px;
	text-align: center;
}
.navBar {
	text-align: right;
}
ul {
	vertical-align: bottom;
}
.navBar li {
	display: inline;
	padding: 2px;
	font-size: 18px;
	vertical-align: bottom;
}
.navBar a {
    color: black;
    text-decoration: none;
}
.navBar a:hover {
    text-decoration: underline;
}
.contact {
	height: 4%;
}
.imgBubbles {
	padding-top: 10px;
}
.imgBubbles img {
	height: 10%;
	width: auto;
}
footer {
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: grey;
}
@media only screen and (max-width: 1024px) {
    #bannerImage {
		height: 25%;
	}
    #aboutBig {
    	display: none;
    }
    #aboutSmall h3 {
		display: inline;
		padding: 10px;
		font-weight: bold;
	}
	#aboutSmall h3:hover {
	    text-decoration: underline;
	}
	.imgBubbles img {
		height: 5%;
		width: auto;
	}
}
@media screen and (min-width: 1025px) {
	#aboutSmall {
	    display: none;
	}
}
