@font-face {
  font-family: 'Kollektif';
  src: url('font/Kollektif.ttf');
}
* {
	box-sizing: border-box;
}
html, body {
	width:98vw;
	height:99vh;
}
body {
	font-family: 'Roboto', Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
}
.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.row > * {
	flex: 1 100%;
  }
.single {
	flex: 1;
}
.triple {
	flex: 3;
}

a  {
    text-decoration: none;
    color: black;
}
a:visited {
	color: black;
}
a:hover {
	text-decoration: underline;
}
.centredTitle {
	text-align: center;
}
.logo1 {
	font-size: 1.9em;
}
.logo2 {
	font-size: 1.2em;
	font-family: Kollektif;
}

ul {
	list-style: none;
	text-align: center;
	padding-inline-start: 0;
}
ul li {
	display: inline;
}
.bannerImg {
	width: 80%;
	height: auto;
	opacity: 0.7;
}
.social{
	/* padding-top: 2vh; */
	font-size: 1.1em;
	text-align: center;
	margin-right: 2vw;
	margin-left: 2vw;
}
.social li a:hover {
	background-color: black;
	color: white;
}
.mainButton {
	background-color: white;
	border: #B6D9EE solid 2px;
	border-radius: 1px;
}
.note {
	padding: 2%;
	margin: 2%;
	border-radius: 10px;
	/* border: grey solid 1px; */
	width: 70%;
}
.small {
	font-size: 0.7em;
	text-align: left;
}
.larger {
	font-weight: bold;
	font-size: 0.9em;
}